@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #ffff;
}

.btn {
  background: linear-gradient(275.14deg, #059CC5 -31.5%, #C971FF 117.14%);
  padding: 10px 12px !important;
  color: white;
  border-radius: 12px;
  height: fit-content;
  transition: all 0.2s ease-in-out !important;
}

.btn:hover {
  background: linear-gradient(275.14deg, #C971FF -31.5%, #059CC5 117.14%);
}

.btnNonActive {
  padding: 10px 12px !important;
  color: black;
  border-radius: 12px;
  height: fit-content;
  border: 1px solid lightgray;
}


.swipeToLeft {
  animation: animatSwipeLeft 0.5s ease-in;
}

@keyframes animatSwipeLeft {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

.swipeToRight {
  animation: animatSwipeRight 0.5s ease-in;
}

@keyframes animatSwipeRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

.bgHero {
  background-image: url("../assets/bgHero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.techSlideData {
  display: flex !important;
  justify-content: center;
}


li.slick-active button:before {
  color: #059CC5 !important;
}

.slick-dots li button:before {
  font-size: 14px !important;
  color: #059CC5 !important;
}

@media only screen and (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px !important;
  }
}

.slide-btn {
  width: 50px !important;
  z-index: 10 !important;
}

.slick-next {
  right: -60px !important;
}

.slick-prev {
  left: -60px !important;
}


@media only screen and (max-width: 900px) {
  .slide-btn {
    width: 40px !important;
  }

  .slick-next {
    right: -0 !important;
  }

  .slick-prev {
    left: -0 !important;
  }

}


@media only screen and (max-width: 600px) {
  .slide-btn {
    width: 35px !important;
  }

  .slick-next {
    right: 5px !important;
  }

  .slick-prev {
    left: 5px !important;
  }

}


.flex {
  display: flex !important;
}

.slick-prev:before {
  content: '' !important;
}

.slick-next:before {
  content: '' !important;
}

.priceList::-webkit-scrollbar {
  display: none;
}

.aboutInfo{
  display: none;
}

@media only screen and (max-width: 768px) {
 .aboutInfo{
  display: flex;
  }
}


.testimonials > .slick-slider > .slick-list > .slick-track >.slick-slide > div{
  display: flex !important;
  justify-content: center !important;
}